<div class="columns align-items-center">
  <div class="column is-1">
    <%= product_item.quantity %>
  </div>
   
  <% if product_item.product.product_image.attached?  %>
<p>
    <strong>Image:</strong>
    <%= image_tag(product_item.product.product_image, :size => "50x50" ) %> 
    
</p>
<% end%> 
  <div class="column is-9">
    <strong><%= product_item.product.name %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
         
            <div>
    <strong>Description</strong>
  <%= product_item.product.description %>
</div>
            

      </div>
      <div class="column is-3 has-text-right">
        <strong class="f4"><%= number_to_currency(product_item.total_price) %></strong>
      </div>
    </div>
  </div>
</div>

<div class="has-text-right">
  <%= link_to 'Remove Item', product_item, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-small mb4" %>
</div>

