<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>
<% if @brand.brand_image.attached? %> 
<p>
  <strong>Image:</strong>
  <%= image_tag(@brand.brand_image, :size => "50x50") %>
</p>
<%end%>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
