<%= form_with(model: category, local: true) do |form| %>
<% if category.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

    <ul>
        <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="form-group">
    <%= form.label :Name %>
    <%= form.text_field :name, class: 'form-control' %>
</div>

<div class="input-group mb-3 form-group">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Brand</label>
    </div>
    <%= collection_select( :category, :brand_ids, Brand.all, :id, :name, {prompt: false}, {class: 'custom-select form-control',id: "inputGroupSelect01"})%>
</div>

<div class="form-group">
    <%= form.label :Thumbnail %>
    <%= form.file_field :cat_image , class: 'form-control-file' %>
    <% if @category.cat_image.attached? %>
    <%= image_tag @category.cat_image,class: 'form-control'%>
    <%= form.label :remove_cat_image %>
    <%= form.check_box :remove_cat_image %>
    <% end %>
</div>

<div class="form-group">
    <%= form.submit %>
</div>
<% end %>