<!--p id="notice"><%= notice %></p-->

<div class="container col-6 border">
    <div class="media row  m-5">
        <% if @category.cat_image.attached? %>
        <%= image_tag(@category.cat_image , :size => "50x50", class: 'mr-4' ) %>
        <% end %>
        <div class="media-body">
            <p>
                <strong>Name:</strong>
                <%= @category.name %>
            </p>
            <%= link_to 'Edit', edit_category_path(@category) , class: 'btn btn-primary btn-sm text-light'%>
            <%= link_to 'Back', categories_path, class: 'btn btn-secondary btn-sm text-light' %>
        </div>
    </div>
  </div>