<%= form_with model: @product, local: true do |form| %>
 
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :Name %>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :Description %>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :Price %>
    <%= form.text_field :price %>
  </p>

  <p>
    <%= form.label :Quantity %>
    <%= form.text_field :quantity %>
  </p>

  <p>
    <%= form.label :Image %>
    <%= form.file_field :product_image %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>